---
import { ClientRouter } from "astro:transitions";
---

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width" />

  <link rel="icon" type="image/svg+xml" href="/blur.ico" />
  <meta name="generator" content={Astro.generator} />

  <title>Blur</title>
  <meta
    name="description"
    content="Blur is an open-source native desktop application made for easily and efficiently adding motion blur to videos through frame blending."
  />

  <script is:inline>
    window.ThemeProvider = (() => {
      const isDarkTheme = () =>
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches);

      const applyTheme = (doc = document) => {
        doc.documentElement.dataset.theme = isDarkTheme() ? "dark" : "light";
      };

      const updateLabel = () => {
        const elem = document.getElementById("theme-toggle");
        if (!elem) return;
        const themeLabel = localStorage.theme ?? "system";
        elem.textContent = themeLabel;
      };

      document.addEventListener("astro:before-swap", (event) =>
        applyTheme(event.newDocument)
      );

      applyTheme();

      return {
        applyTheme,
        updateLabel,
      };
    })();
  </script>

  <ClientRouter />
</head>
