---
import { ClientRouter } from "astro:transitions";
---

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width" />

  <link rel="icon" type="image/svg+xml" href="/blur.png" />
  <meta name="generator" content={Astro.generator} />

  <title>Blur</title>
  <meta name="description" content="Blur is a native desktop application made for easily and efficiently adding motion blur to videos through frame blending.">

  <script is:inline>
    function applyTheme() {
      document.documentElement.classList.toggle(
        "dark",
        localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
      );
    }

    applyTheme();
  </script>

  <ClientRouter />
</head>
