---
import Navbar from "./Navbar.astro";

const routes = [
  { href: "/", label: "home" },
  { href: "/config", label: "config" },
  { href: "/recommendations", label: "recommendations" },
  { href: "/linux", label: "linux" },
];

const animDuration = "0.4s";

const anim = {
  old: {
    name: "motion-blur-out",
    duration: animDuration,
  },
  new: {
    name: "motion-blur-in",
    duration: animDuration,
  },
};

const customTransition = {
  forwards: anim,
  backwards: anim,
};
---

<body
  class="flex flex-col sm:flex-row justify-center gap-10 md:p-8 sm:p-6 p-4 bg-white text-black dark:bg-black dark:text-white transition-[background-color] duration-200"
>
  <Navbar class="font-serif text-left sm:text-right" routes={routes} />

  <main
    class="prose dark:prose-invert shrink"
    transition:animate={customTransition}
  >
    <slot />
  </main>
</body>

<style>
  :root {
    --anim-distance: 20px;
    --blur-amount: 8px;
  }

  @keyframes motion-blur-in {
    0% {
      opacity: 0;
      transform: translateX(var(--anim-distance));
      filter: blur(var(--blur-amount));
    }
  }

  @keyframes motion-blur-out {
    100% {
      opacity: 0;
      transform: translateX(calc(-1 * var(--anim-distance)));
      filter: blur(var(--blur-amount));
    }
  }
</style>
