---
export interface Route {
  href: string;
  label: string;
}

interface Props {
  routes: Route[];
  class?: string;
}

const { routes, class: classes = "" } = Astro.props;
---

<nav class={`p-4 ${classes}`}>
  <ul class="flex flex-col">
    {
      routes.map((link) => (
        <li>
          <a href={link.href} class="text-gray-800 hover:text-blue-600">
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
