---
import ThemeSwitcher from "./ThemeSwitcher.astro";

export interface Route {
  href: string;
  label: string;
}

interface Props {
  routes: Route[];
  class?: string;
}

const { routes, class: classes = "" } = Astro.props;

const longestRouteLength = Math.max(
  ...routes.map((route) => route.label.length)
);

const normalisePath = (path: string) => path.replace(/\/$/, "") || "/";

const currentPath = normalisePath(Astro.url.pathname);
---

<nav
  class={`${classes} shrink-0 flex flex-col gap-4 sticky top-6 self-start`}
  {/* account for bold text getting bigger */}
  style={`width: calc(${longestRouteLength}ch + 5px)`}
>
  <ul class="flex flex-col">
    {
      routes.map((link) => {
        const isActive = normalisePath(link.href) === currentPath;
        return (
          <li>
            <a
              href={link.href}
              class={`
                underline
                not-sm:text-xl
                hover:text-green-400/90
                ${isActive && "font-bold text-green-400"}
              `}
            >
              {link.label}
            </a>
          </li>
        );
      })
    }
  </ul>

  <ThemeSwitcher />
</nav>
