<div class="theme-switcher not-sm:text-xl">
  <p class="opacity-50">theme</p>
  <button id="theme-toggle" class="underline cursor-pointer"></button>
</div>

<script is:inline>
  function updateLabel() {
    const elem = document.getElementById("theme-toggle");
    const themeLabel = localStorage.theme ?? "system";
    elem.textContent = themeLabel;
  }

  updateLabel();
</script>

<script>
  declare function applyTheme(): void;
  declare function updateLabel(): void;

  type Theme = "system" | "dark" | "light";

  function setTheme(theme: Theme) {
    if (theme == "system") {
      localStorage.removeItem("theme");
    } else {
      localStorage.theme = theme;
    }

    applyTheme();
    updateLabel();
  }

  function registerEvents() {
    const themeToggle = document.getElementById("theme-toggle");

    themeToggle?.addEventListener("click", () => {
      const current = localStorage.theme || "system";
      const next =
        current === "system"
          ? "light"
          : current === "light"
            ? "dark"
            : "system";
      setTheme(next);
    });
  }

  document.addEventListener("astro:after-swap", () => {
    applyTheme();
    updateLabel();
    registerEvents();
  });

  registerEvents();
</script>
