<div class="theme-switcher not-sm:text-xl">
  <p class="opacity-50">theme</p>
  <button id="theme-toggle" class="cursor-pointer">
    <a id="theme-text" class="underline">system</a>
  </button>
</div>

<script is:inline>
  function updateLabel() {
    const themeElem = document.getElementById("theme-text");
    const themeLabel = localStorage.theme ?? "system";
    themeElem.textContent = themeLabel;
  }

  updateLabel();
</script>

<script>
  type Theme = "system" | "dark" | "light";

  function setTheme(theme: Theme) {
    console.log("changed theme to ", theme);
    if (theme == "system") {
      localStorage.removeItem("theme");
    } else {
      localStorage.theme = theme;
    }

    applyTheme();
    updateLabel();
  }

  document.addEventListener("astro:after-swap", () => {
    applyTheme();
    updateLabel();

    const themeToggle = document.getElementById("theme-toggle");
    if (themeToggle && !themeToggle.hasAttribute("onclick")) {
      themeToggle.addEventListener("click", () => {
        const current = localStorage.theme || "system";
        const next =
          current === "system"
            ? "light"
            : current === "light"
              ? "dark"
              : "system";
        setTheme(next);
      });
    }
  });
</script>
