<div class="theme-switcher not-sm:text-xl">
  <p class="opacity-50">theme</p>
  <button id="theme-toggle" class="cursor-pointer">
    <a id="theme-text" class="underline">system</a>
  </button>
</div>

<script is:inline>
  function applyTheme() {
    document.documentElement.classList.toggle(
      "dark",
      localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
    );

    const themeElem = document.getElementById("theme-text");
    const themeLabel = localStorage.theme ?? "system";
    themeElem.textContent = themeLabel;
  }

  applyTheme();
</script>

<script>
  type Theme = "system" | "dark" | "light";

  const html = document.documentElement;

  const themeElem = document.getElementById("theme-text");
  const themeToggle = document.getElementById("theme-toggle");

  function setTheme(theme: Theme) {
    console.log("changed theme to ", theme);
    if (theme == "system") {
      localStorage.removeItem("theme");
    } else {
      localStorage.theme = theme;
    }

    applyTheme();
  }

  applyTheme();

  // Cycle through themes on click
  themeToggle.addEventListener("click", () => {
    const current = localStorage.theme || "system";
    const next =
      current === "system" ? "light" : current === "light" ? "dark" : "system";
    setTheme(next);
  });
</script>
